.bg-container {
  background-image: url('https://images.pexels.com/photos/1025469/pexels-photo-1025469.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size:cover ;
  background-position: center;
  background-repeat: no-repeat;
}

.fancy-card {
  background: rgb(255 255 255 / 75%);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.15);
  
}

.fancy-card h5 {
  color: #2c3e50;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.fancy-btn {
  background-color: #e67e22;
  border-color: #d35400;
  font-size: 16px;
  height: 50px;
  width: 180px;
  transition: all 0.3s ease;
}

.fancy-btn:hover {
  background-color: #f46e15 !important;
  border-color: #e67e22 !important;
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.form-control {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  height: 50px;
}

.form-control:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15) !important;
}

.shadow-lg {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) !important;
}

@media (min-width: 992px) {
  .fancy-card {
    max-width: 600px;
    
  }
}